.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  /* padding: 1.5rem 0; */
  padding: 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  
  background: rgb(203,125,180);
  background: -moz-linear-gradient(90deg, rgba(203,125,180,1) 0%, rgba(72,44,133,1) 68%);
  background: -webkit-linear-gradient(90deg, rgba(203,125,180,1) 0%, rgba(72,44,133,1) 68%);
  background: linear-gradient(90deg, rgba(203,125,180,1) 0%, rgba(72,44,133,1) 68%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cb7db4",endColorstr="#482c85",GradientType=1);

  border-radius: 10px !important;
  padding: 2px;
}

.accordion > details {
  background-color: var(--gradient-background);
  padding: 3rem;
  border-radius: 9px;
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
}

.accordion .icon-accordion {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 1.5rem;
  word-break: break-word;
  overflow-x: auto;
  padding: 1rem 0 0 0;
  margin-bottom: 0;
}

.accordion__content img {
  max-width: 100%;
}
