.tw-mt-5 {
  margin-top: 1.25rem
}

.tw-mt-10 {
  margin-top: 2.5rem
}

.tw-flex {
  display: flex
}

.tw-grid {
  display: grid
}

.tw-max-h-\[40rem\] {
  max-height: 40rem
}

.tw-max-h-\[45rem\] {
  max-height: 45rem
}

.tw-max-h-\[4rem\] {
  max-height: 4rem
}

.tw-w-auto {
  width: auto
}

.tw-max-w-\[65rem\] {
  max-width: 65rem
}

.tw-flex-1 {
  flex: 1 1 0%
}

.tw-grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr))
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr))
}

.tw-flex-col {
  flex-direction: column
}

.tw-items-start {
  align-items: flex-start
}

.tw-justify-between {
  justify-content: space-between
}

.tw-gap-4 {
  gap: 1rem
}

.tw-gap-8 {
  gap: 2rem
}

.tw-gap-\[2rem\] {
  gap: 2rem
}

.tw-overflow-hidden {
  overflow: hidden
}

.tw-overflow-x-hidden {
  overflow-x: hidden
}

.tw-p-0 {
  padding: 0px
}

.tw-py-0 {
  padding-top: 0px;
  padding-bottom: 0px
}

.tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.tw-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.tw-text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.tw-text-5xl {
  font-size: 3rem;
  line-height: 1
}

.tw-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.tw-text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

@media (min-width: 640px) {
  .sm\:tw-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }

  .sm\:tw-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr))
  }

  .sm\:tw-flex-row {
    flex-direction: row
  }
}

@media (min-width: 768px) {
  .md\:tw-flex-row {
    flex-direction: row
  }
}

@media (min-width: 1024px) {
  .lg\:tw-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr))
  }
}